{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-no-bind": "off",
    "import/prefer-default-export": "off",
    "no-console":"off",
    "no-alert":"off",
    "arrow-parens":"off",
    "no-class-assign": "off"
  }
}
